<mat-sidenav-container class="sidenav-container" [autosize]="true">
  <mat-sidenav
    [mode]="sidenavMode()"
    [opened]="sidenavOpened()"
    (openedChange)="onSidenavOpenedChange($event)"
    class="sidenav"
    [class.collapsed]="!isMobile() && isCollapsed()">
    <app-sidebar
      [isCollapsed]="!isMobile() && isCollapsed()"
      [isMobile]="isMobile()"
      (close)="sidenavOpen.set(false)">
    </app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

@if (isMobile()) {
  <app-bottom-nav />
}
